<!-- 2) Write an AngularJS script to demonstrate arithmetic expressions. -->

<html  ng-app="arithmeticApp">
<head>
<title>Arithmetic Expression with AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
	
<div ng-controller="ArithmeticController">
<label for="num1">Enter number 1:</label>
<input type="number" ng-model="num1">

<label for="num2">Enter number 2:</label>
<input type="number" ng-model="num2">

<label for="operation">Select operation:</label>
<select ng-model="operation">
<option value="add">Addition (+)</option>
<option value="subtract">Subtraction (-)</option>
<option value="multiply">Multiplication (*)</option>
<option value="divide">Division (/)</option>
</select>

<button ng-click="calculate()">Calculate</button>

<p>Result: {{ result }}</p>
</div>

<script>
    var app = angular.module('arithmeticApp', []);

    app.controller('ArithmeticController', function($scope) {
        $scope.num1 = 0;
        $scope.num2 = 0;
        $scope.operation = 'add';
        $scope.result = 0;

        $scope.calculate = function() {
            switch ($scope.operation) {
                case 'add':
                    $scope.result = $scope.num1 + $scope.num2;
                    break;
                case 'subtract':
                    $scope.result = $scope.num1 - $scope.num2;
                    break;
                case 'multiply':
                    $scope.result = $scope.num1 * $scope.num2;
                    break;
                case 'divide':
                    if ($scope.num2 !== 0) {
                        $scope.result = $scope.num1 / $scope.num2;
                    } else {
                        alert("Cannot divide by zero!");
                    }
                    break;
                default:
                    alert("Invalid operation");
            }
        };
    });
</script>

</body>
</html>